<!-- Great  thing about including hmtl is that I do not have to rewrite the header and stuff every time I make a new view -->

<div>
 <h1>Welcome to 321Budget.com!</h1>
 <p>This web application is built to help people stay on a budget by giving them a way to track expenses easily. It is built on the LAMP stack using AngularJS, Bootstrap, and JQuery. I'm currently in the process of making this a single page application using AngularJS.</p>
 <h2>Adding/Deleting Entries</h2>
 <p>When you make a purchase or add money to a budget, you can do so using the Entry Form</p>
 <h2>Creating a new budget</h2>
 <p>You can create any number of new budgets using the New Budget form. Click the New Budget tab to access the form. This is useful if you are tracking multiple budgets like food, clothing, and discretionary spending.</p>
 <h2>Updating budgets via email or text</h2>
 <p> If your phone number or email address if on file, you can send an email/text to ledger@321budget.com to add an entry to a budget. This is helpful if you are out shopping and do not have access to a computer or an internet connection. This feature is a work in progress <strong> and is currently not working</strong>. Email message should be of the form: </p><h3>
  "credit/debit ##.## detail"
 </h3>
 <h3>Examples:</h3>
 <p>"Credit 100 June's discretionary allowance"</p>
 <p>If Debit or Credit are not provided, it will default to Debit</p>
 
</div>
