<entry-form></entry-form>
<div class="container col-md-8">
 <!-- Tabs -->
 <div ng-init="getAll()" class="">
  <div ng-repeat="budget in budgets" ng-show="bEntry.budgetid == budget['Budget ID']" id="{{budget['Budget ID']}}">
   <div class="container col-md-12">
    <budget-table></budget-table>
   </div>
  </div> <!-- End budget table content -->
  <div  ng-show="bEntry.budgetid == 'create'" id="budgetCreate">
   <budget-form></budget-form>
  </div> <!-- End new budget tab content -->
 </div> <!-- End tab contents -->
</div><!-- End Container for tabs of budgets -->
